.weather-icon {
  width: 150px;
  height: 150px;
}

.hourly-icon {
  width: 50px;
  height: 50px;
}

.hourly {
  float: left;
  padding: 10px;
}

#hourlyUL {
  padding: 0;
  list-style-type: none;
}

.hourlyTemp {
  padding: 10px;
  text-align: center;
}

